*{
    padding: 0;
    margin: 0;
    font-family: popins;

header{
    font-size: 15px;
    font-family:popins,sans-serif;
}

.pre_header{
    background-color: #ceecf9;
    height: 41px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#highlighter{
    color: #1d83b0;
    margin-left: 4px;
}

.main_header{
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 5px;
    padding: 15px 10px 0px;
    color: #4d4c4c;
    font-weight: 100;
}

.header_icon img{
    height: 49px;
    width: 165px;
    margin-left: 60px;
    margin-right: 25px;
}

.header_body{
    display: flex;
    align-content: center;
    height: 20px;
}

a{
    text-decoration: none;
    color: #4d4c4c;
    margin-left: 35px;
    margin-right:30px;
}

label{
    margin-left: 45px;
}

select{
    width: 15px;
    border: none;
}

.more i{
    font-size: 25px;
    margin-left: 15px;
    position: relative;
    top: -5px;
}

.header_emport-sales{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.jobseeker{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f59825;
    border: 1px solid #f59825;
    height: 35px;
    width: 185px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    cursor: pointer;
}

.jobseeker p{
    margin-left: 8px;
}

a:hover{
    color: #f59825;
    cursor: pointer;
}

label:hover{
    color: #f59825;
    cursor: pointer;
}

.post_job{
    background-color: #1d83b0;
    height: 35px;
    width: 100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    top: -10px;
    cursor: pointer;
    color: white;
}

.main_body{
    background-color: #fef9f4;
}

.search_background img{
    height: 110px;
    width: 100%;
}

.search{
    height: 155px;
    width: 82%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.2);
    margin-left: 9%;
    position: relative;
    top: -80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.search_title{
    display: flex;
    justify-content: start;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
    width: 100%;
    height: 37px;
}

.search_title p{
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.search_title p:active{
    color: #f59825;
    border-bottom:5px solid #f59825;
}

.button_bars{
    display: flex;
    align-items: center;
}

.bars{
    display: flex;
    margin-top: 20px;
}

.bars i{
    font-size: 20px;
    height: 56px;
    width: 40px;
    border: 1px solid rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.search_bar input{
    height: 56px;
    width: 560px;
    border: 1px solid  rgb(155, 155, 155);
    border-radius: 0px 10px 10px 0px;
    font-size: 14px;
    border-left: none;
    cursor: pointer;
}

.search_button{
    height: 56px;
    width: 150px;
    background-color:#f59825 ;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}

.register_resume{
    height: 110;
    border-left: 1px solid rgb(155, 155, 155);
    margin-left: 51px;
    margin-top: -15px;
    padding-left: 51px;
}

.register_resume h3{
    font-size: 16px;
    margin-bottom: 5px;
}

.register_resume p{
    font-size: 14px;
    margin-bottom: 35px;
    color: #4d4c4c;
}

.register_resume_button{
    display: flex;
    margin-left: -20px;
}

.register_resume_button a{
    font-size: 12px;
    font-weight: 800;
    color: #f59825;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.register_resume_button a:hover{
    text-decoration: underline;
}

.resume{
    height: 40px;
    width: 150px;
    border: 1px dashed #1d83b0;
    border-radius: 6px;
    font-size: 14px;
    color: #1d83b0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    cursor: pointer;
}

.content_jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:317px ;
    width: 100%;
    background-color: #f2faff;
    margin-top: -50px;
}

.content_jobs h1{
    font-size: 27px;
    display:flex;
    justify-content: center;
}

.job-boxes{
    display: flex;
    overflow-x: scroll;
    max-width: 80%;
}

.job-box{
    height: 150px;
    min-width: 170px;
    background-color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 50px;
    box-shadow: 0 0 1px #4d4c4c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.job-box:hover{
    box-shadow: 0 0 2px #1d83b0;
}

.job-box img{
    height: 38px;
    width: 38px;
    margin-bottom: 20px;
}

.fresher{
    background-color: #f1f2f6;
}

.fresher-jobs{
    display: flex;
    flex-direction: column;
    height: 478px;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #f5f5f5;
    position: relative;
    top: 50px;
    left: 10%;
    box-shadow: 0 0 3px #8080801a;
}

.fresher-boxes{
    display: flex;
    max-width: 80%;
    height: 240px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 10%;
    margin-top: 40px;
}

.fresher-jobs h1{
    font-size: 27px;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 40px;
}

.fresher-box{
    height: 234px;
    min-width: 286px;
    box-shadow: 0 0 4px #8080801a;
    border: 1px solid #efefef;
    margin-right: 34px;
    border-radius: 10px;
    cursor: pointer;
}

.fresher-box h4{
    font-size: 18px;
    margin-top: 34px;
    margin-left: 20px;
}

.fresher-box p{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 8px;
}

.location{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #585858;
    margin-top: 30px;
}

.location i{
    margin-top: 8px;
}

.location p{
    margin-left: 10px;
}

.work{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #585858;
}

.work i{
    margin-top: 8px;
}

.work p{
    margin-left: 10px;
}

.fresher-box img{
    position: relative;
    left: 70%;
    bottom: 0px;
    height: 110px;
    width: 80px;
}

.view-all{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.view-all-button{
    color: #f59825;
    background-color: white;
    height: 48px;
    width: 237px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #f59825;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-button:hover{
    color: white;
    background-color: #f59825;
}

.govt{
    height: 400px;
    width: 80%;
    background-color: white;
    position: relative;
    left: 10%;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 3px #8080801a;
}

.govt-jobs{
    display: flex;
}

.govt-jobs-heading{
    margin-right: 500px;
    margin-top: 50px;
    margin-left: 70px;
}

.govt-jobs-heading h2{
    font-size: 27px;
    margin-bottom: 8px;
}

.govt-jobs-heading p{
    font-size: 16px;
    margin-left: 5px;
}

.govt-option{
    height: 40px;
    width: 250px;
    border: 1px solid #a0a0a0;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: 600;
    padding-top: 15px;
    cursor: pointer;
}

.govt-option label{
    margin-right: 80px;
}

.govt .view-all .view-all-button{
    margin-top: 150px;
}

option{
    font-size: 14px;
    color: #747474;
    font-weight: 500;
}

.border{
    height: 50px;
    background-color: #197ba7;
}

.discription{
    margin-top: 50px;
    margin-left: 100px;
    color: #212529;
    line-height: 20px;
}

.discription p{
    font-weight: 600;
}

.footer{
    height: 372px;
    background-color: #232c36;
    color: #a5adba;
    font-size: 14px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 30px;
}

.footer h5{
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 100px;
}

.images{
    cursor: pointer;
}

.footer h6{
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer p{
    cursor: pointer;
}

.footer p:hover{
    color: white;
}

.footer-copyright{
    background-color: #232c36;
    display: flex;
    color: #a5adba;
    justify-content: space-evenly;
    padding-right: 80px;
    padding-top: 5px;
    border-top: 1px solid #a5adba;
}

#copyright{
    margin-right: 500px;
    margin-left: 70px;
}

.footer-copyright p:hover{
    color: white;
    cursor: pointer;

}
